<div class="bg-white border-top  text-dark mt-5">
  <div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-xs-10 offset-xs-1 mt-4">

    <div class="row">
      <div class="col-md-3 p-3">
        <div class="col-md-12 titleFooter">
          Ayuda
        </div>
        <div class="col-md-12 list-group mt-3">
          <a href="https://www.massimodutti.com/es/help.html" class="d-flex justify-content-between text-dark p-1">
            <span>Preguntas más frecuentes</span>
          </a>
          <a href="https://www.massimodutti.com/es/help.html#/delivery" class="d-flex justify-content-between text-dark p-1">
            <span>Transporte y entrega</span>
          </a>
          <a href="https://www.massimodutti.com/es/help.html#/returns" class="d-flex justify-content-between text-dark p-1">
            <span>Cambios y devoluciones</span>
          </a>
          <a href="#" class="d-flex justify-content-between text-dark p-1">
            <span>Contacto</span>
          </a>
        </div>
      </div>
      <div class="col-md-3 p-3" id="contacto">
        <div class="col-md-12 titleFooter">
          Empresa
        </div>
        <div class="col-md-12 list-group mt-3">
          <a href="#" class="d-flex justify-content-between text-dark p-1">
            <span>Política</span>
          </a>
          <a href="#" class="d-flex justify-content-between text-dark p-1">
            <span>Valores / RSC</span>
          </a>
          <a href="#" class="d-flex justify-content-between text-dark p-1">
            <span>Oficinas de prensa</span>
          </a>
          <a href="#" class="d-flex justify-content-between text-dark p-1">
            <span>Política de privacidad</span>
          </a>
        </div>
      </div>
      <div class="col-md-3 p-3">
        <div class="col-md-12 titleFooter">
          Síguenos
        </div>
        <div class="col-md-12 mt-3">
          <a href="https://www.facebook.com/MassimoDuttiEsp" class="d-flex justify-content-between text-dark p-1">
            <span>Facebook</span>
          </a>
          <a href="https://twitter.com/massimodutti" class="d-flex justify-content-between text-dark p-1">
            <span>Twitter</span>
          </a>
          <a href="https://www.youtube.com/user/MassimoDuttiOfficial" class="d-flex justify-content-between text-dark p-1">
            <span>Youtube</span>
          </a>
          <a href="https://www.instagram.com/massimodutti/" class="d-flex justify-content-between text-dark p-1">
            <span>Instagram</span>
          </a>
        </div>
      </div>
      <div class="col-md-3 p-3">
        <div class="col-md-12 titleFooter">
          Descargue nuestra app
        </div>
        <div class="col-md-12 list-group mt-3">
          <a href="https://www.massimodutti.com/es/mujer/smart-app-c1791035.html" class="d-flex justify-content-between text-dark p-1">
            <span>IOS</span>
          </a>
          <a href="https://www.massimodutti.com/es/mujer/smart-app-c1791035.html" class="d-flex justify-content-between text-dark p-1">
            <span>Android</span>
          </a>         
        </div>
      </div>
    </div>
    <hr class="divFooter">
    <div class="text-center m-4">
      <span>Información sobre cookies</span>
    </div>
  </div>
</div>