<div class="col-md-10 offset-md-1 mt-5">
  <div class="row">
    <div class="col-md-6 text-center">
      <img src="https://starwars-visualguide.com/assets/img/starships/{{id}}.jpg"
        onError="this.src='/assets/img/image-not-found.png'" width="80%">
    </div>
    <div class="col-md-6">
      <h3 class="h3 text-center"> Starship Description </h3>
      <div *ngIf="starshipDetail">
        <span class="font-weight-bold item">Name: </span> <span class="text-dark">{{starshipDetail.name}}</span>
        <span class="font-weight-bold item">Model: </span> <span class="text-dark">{{starshipDetail.model}}</span>
        <span class="font-weight-bold item">Price: </span> <span
          class="text-dark">{{starshipDetail.cost_in_credits}} $ </span>
        <span class="font-weight-bold item">Manufacturer: </span><span
          class="text-dark">{{starshipDetail.manufacturer}}</span>
        <span class="font-weight-bold item">Starship Class: </span> <span
          class="text-dark">{{starshipDetail.starship_class}}</span>
        <span class="font-weight-bold item">Passengers: </span> <span
          class="text-dark">{{starshipDetail.passengers}}</span>
        <span class="font-weight-bold item">Consumables: </span> <span
          class="text-dark">{{starshipDetail.consumables}}</span>
        <span class="font-weight-bold item">Cargo Capacity: </span> <span
          class="text-dark">{{starshipDetail.cargo_capacity}} TON.</span>

        <bar-rating [rate]="starshipDetail.hyperdrive_rating" [readOnly]="true" [max]="5" readOnly></bar-rating>
        <div class="mt-5">
            <button class="btn btn-lg btn-info" [routerLink]="['/']" > <i class="fas fa-list mr-2"></i> Volver al Listado</button>
        </div>
      </div>
      
    </div>
  </div>

</div>